* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bc-body{
    width: 100%;
    height: auto;
    background: rgb(16,15,16);
    background: linear-gradient(0deg, rgb(244, 241, 244) 0%, rgb(11, 11, 11) 100%);
}

  
.max-altura{
    height: 80vh;
    background-repeat: no-repeat;
    background-size:cover;
    margin-left: 35%;
}

.max-red{
    width: 2%;
}

.footer_formularios_fijo{
    background-color: transparent;
    padding: 0.5rem;
    padding-top: 0.2rem;
    width: 100%;
    bottom:0rem;
    left:1rem; 
    position:fixed;
}


@media screen and (max-width: 770px) {
    .max-altura{
        margin-left: 20%;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .max-altura{
        margin-left: 10%;
    }

}